.tasks {
  flex: 2.5;
}

.tasks-title {
  @include font-amatic();
  @include font-size(50);
  margin-bottom: 20px;
}

.tasks-list {
  @include display-flex();
  justify-content: flex-start;
  flex-wrap: wrap;
}

.task {
  border: 1px solid $grey1;
  margin: 0 10px 20px;
  padding: 15px;
  width: 30%;

  &.task-with-description {
    background-color: rgba($grey1, .3)
  }
}


.task-name {
  @include font-amatic();
  @include font-size(30);
  margin-bottom: 10px;
}

.task-actions {
  @include display-flex();
  justify-content: space-between;
}

.task-status {
  @include transition(color .3s linear);

  .icon {
    @include opacity(.5);
    cursor: pointer;
    margin: 0 2px;

    &.active {
      @include opacity(1);
    }
  }

  .status-todo {
    color: $blue;
  }
  
  .status-doing {
    color: $green;
  }
  
  .status-done {
    color: $red;
  }
}

.task-action {
  @include transition(color .3s linear);
  @include font-size(14);
  color: $grey1;
  margin: 0 2px;

  &:hover {
    color: $grey2;
  }
}