.fade-enter {
  @include opacity(.01);
}

.fade-enter-active {
  @include opacity(1);
  transition: opacity 500ms ease-in;
}

.fade-exit {
  position: absolute;
  @include opacity(.01);
}

.fade-exit-active {
  @include opacity(.01);
  transition: opacity 500ms ease-in;
}